body {
    margin:10px;
}
 a{
   color:powderblue;
   text-decoration: none;
 }

 h1{
   font-size:60px;
   text-align:center;
   border-bottom:1px solid gray;
   margin:0px;
   padding:20px;
 }
 h2{
   margin-bottom:10px;
 }
 ol{
   border-right:1px solid gray;
   width:140px;
   margin:0px;
   padding:20px;
 }
 #grid ol{
   padding-left: 32px;
 }
 #grid{
   display: grid;
   grid-template-columns: 200px 1fr;
 }
 #grid #article{
   padding-left: 25px;
 }
  @media(max-width:990px){
    #grid{
      display:block;
    }
    ol{
      border-right:none;
  }
  h1{
    border-bottom:none;
  }
}
input {
  background-color: skyblue;
  width:150px;
  height: 25px;
  border:1px solid blue;
  border-radius:5px;
  font-size: 13px;
  color:white;
  margin:3px;
}
